<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Put your auth credentials here -->
        <add key="callerId" value="[callerId]"/>
        <add key="privateKey" value="[privateKey]"/>
    </appSettings>
</configuration>